<main>
  <header>
    <img src="../assets/logo.svg" alt="fairhouse">Fairhouse
  </header>
  <section>
    <!--Pasamos la propiedad [locationList] que contiene housingLocationList desde app-->
    <!--También enviamos desde el componente app-housing-list el evento "selectedLocationEvent" que tiene el valor del location seleccionado y manejamos este evento con el método "updateSelectedLocation($event) en app.componet.ts" -->
    <app-housing-list [locationList]="housingLocationList"
      (selectedLocationEvent)="updateSelectedLocation($event)"></app-housing-list>
    <article>
      <ng-container *ngIf="selectedLocation">
        <img [src]="selectedLocation.photo">
        <p>{{selectedLocation.name}}</p>
        <p>{{selectedLocation.availableUnits}}</p>
        <p>{{selectedLocation.city}}, {{selectedLocation.state}}</p>
        <p>{{selectedLocation.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
        <p>{{selectedLocation.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
      </ng-container>
    </article>
  </section>
</main>